<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TodoList.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A7126A312D3DEF7700B9D5D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7126A412D3DEF7900B9D5D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7126A4B2D3DEF7900B9D5D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
